<main id='show'>

  <header>

    <h1>Where's Waldo?</h1>
    <p>Directions: <em>Click on the image to tag characters. Click on existing tags to delete.<br>Game ends when you've found all required characters.</em></p>

      <div class='column timer'>
        Time:
      </div>

      <div class='column'>
        <%= link_to 'New Game', new_game_path %>
      </div>

  </header>


  <section data-game-id='<%= @game.id %>'>

    <div class='game-wrapper'>
      <%= image_tag "ww_giant_image.jpg", class: 'game-image' %>
    </div>

  </section>

</main>